body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    background-color: #222222;
    color: #ffffff;
    font-family: 'Courier New', Courier, monospace;
    background-image: url("../../public/CRT_monitor.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.terminal-text {
    color: #00ff00;
    font-size: 18px;
    font-weight: bold;
    margin: 0;
    font-family: 'IBMfont';
}

.crt-monitor {
    position: relative;
    width: 100vw;
    height: 100vh;
    padding-top: 15vh; /* 10% of viewport height */
    padding-left: 33vw; /* 5% of viewport width */
    padding-bottom: 17vw;
    box-sizing: border-box;
    background-color: transparent;
    overflow-y: auto;
    overflow-x: hidden;
    scrollbar-width: none;
    -ms-overflow-style: none;
    overscroll-behavior-y: contain;
    scroll-snap-type: y proximity;
}

.crt-monitor::-webkit-scrollbar {
    background: transparent;
    width: 0px;
}
